# Python artefacts
__pycache__/
*.py[cod]
.env/

# Data that can be regenerated
data/raw/**
data/processed/**

# Notebooks checkpoints
**/.ipynb_checkpoints/

# Secrets (handled via GitHub Secrets instead)
*.json
*.yaml
